<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>656069757709-v5k73hpchtogvjq9limvffhlomgitgi3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.656069757709-v5k73hpchtogvjq9limvffhlomgitgi3</string>
	<key>API_KEY</key>
	<string>AIzaSyBS42GPxXdkPKGjdFuQ7XNVMjPdeANrWWc</string>
	<key>GCM_SENDER_ID</key>
	<string>656069757709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prashanth.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-dfdc0</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-dfdc0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656069757709:ios:6d7ac55969b96038bffe44</string>
</dict>
</plist>